* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  padding: 3rem;
  border-radius: 1rem;
  background: #f8f8f8;
 }

 .wrapper-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
 }

 .box {
   width: 3rem;
   height: 3rem;
   background: crimson;
 }

 .box-item {
   width: 3rem;
   height: 3rem;
   background: #740017;
   border-radius: 0.5rem;
 }

 .translate-x-negativo {
   transform: translateX(-1.5rem);
}

 .translate-y-negativo {
  transform: translateY(-1.5rem);
 }

 .translate-xy-negativo {
  transform:translate(-1.5rem, -1.5rem);
 }

 .translate-x-positivo {
  transform: translateX(1.5rem);
}

.translate-y-positivo {
 transform: translateY(1.5rem);
}

.translate-xy-positivo {
 transform:translate(1.5rem, 1.5rem);
}

.translate-xy-1 {
  transform: translate(1.5rem, -1.5rem);
}

.translate-xy-2 {
  transform: translate(-1.5rem, 1.5rem);
}

.translate-xy-3 {
  transform: translate(1.5rem ,-1.5rem);
}

